﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
          crossorigin="anonymous"
          integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    <link href="@Url.Content("~/css/site.css")"
          rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"
            type="text/javascript"></script>
</head>
<body>
<div id="header">
    <h1>
        ASP.NET MVC MUSIC STORE
    </h1>
    <ul id="navlist">
        <li class="first">
            <a href="@Url.Action("Index", "Home")" id="current">Home</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Store")">Store</a>
        </li>
        <li>
            @await Component.InvokeAsync("Cart")
        </li>
        <li>
            <a href="@Url.Action("Index", "StoreManager")">Admin</a>
        </li>
        <li>
            @if (User.Identity.Name != null)
            {
                <a href="@Url.Action("LogOff", "Account")">Log out</a>
            }
            else
            {
                <a href="@Url.Action("LogIn", "Account")">Log in</a>
            }

        </li>
        <li>
            @if (User.Identity.Name != null)
            {
               <a>Welcome, <b>@User.Identity.Name</b></a>
            }
        </li>
    </ul>
</div>

@await Component.InvokeAsync("Genre")


<div id="main">
    @RenderBody()
</div>
</body>
</html>