﻿@model ErrorViewModel
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<p>
    We're sorry, we've hit an unexpected error.
    <a href="javascript:history.go(-1)">Click here</a>
    if you'd like to go back and try that again.
</p>