﻿@model Genre
@{
    ViewBag.Title = "Browse Albums";
}

<div class="container">
    <div class="genre">
        <h3><em>@Model.Name</em> Albums</h3>

        @for (int i = 0; i < @Model.Albums.Count; i += 8)
        {
            var albums = @Model.Albums.Skip(i).Take(8).ToList();

            <div class="row">

                <ul id="album-list">
                    @foreach (var album in albums)
                    {
                        <li class="col-md-auto">
                            <a href="@Url.Action("Details", new {id=album.AlbumId})">
                                <img alt="@album.Title" src="@album.AlbumArtUrl" />
                                <span>@album.Title</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
