﻿@model IEnumerable<MusicStore.Models.Genre>

@{
    ViewData["Title"] = "Store";
}

<h1>Index</h1>

<h3>Browse Genres</h3>
<p>
    Select from @Model.Count()
    genres:</p>
<ul>
    @foreach (var genre in Model)
    {
        <li>@Html.ActionLink(genre.Name, "Browse", new { genre = genre.Name })</li>
    }
</ul>