﻿@model MusicStore.Models.Album

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>
    Are you sure you want to delete the album titled <strong>@Model.Title</strong>?
</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="AlbumId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
